In [115]:
import pandas as pd
import numpy as np
df=pd.read_csv("PO batches assignment.csv")
df.head()

,Batch Number,Date Created,Last Modified,Purchase order,Incoterms,Shipment Method,Delivery Location,Production ready date
0,Batch-326780,02.08.2024 12:13,02.08.2024 12:13,Purchase Order #1075467,EXW,Air,Maple Logistics Hub,08.08.2024
1,Batch-326779,02.08.2024 12:06,02.08.2024 12:06,Purchase Order #1075467,EXW,Ocean,Stellar Fulfillment Center,01.11.2024
2,Batch-326778,02.08.2024 10:57,02.08.2024 10:57,Purchase Order #1075875,FOB,Ocean,Apex Distribution Services,20.07.2024
3,Batch-326778,02.08.2024 10:57,02.08.2024 10:57,Purchase Order #1075875,FOB,Ocean,Apex Distribution Services,20.07.2024
4,Batch-326778,02.08.2024 10:57,02.08.2024 10:57,Purchase Order #1075875,FOB,Ocean,Apex Distribution Services,20.07.2024

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Batch Number           5050 non-null   object
 1   Date Created           5050 non-null   object
 2   Last Modified          5050 non-null   object
 3   Purchase order         5050 non-null   object
 4   Incoterms              5050 non-null   object
 5   Shipment Method        5050 non-null   object
 6   Delivery Location      5050 non-null   object
 7   Production ready date  5050 non-null   object
dtypes: object(8)
memory usage: 315.8+ KB

## Total no of unique batches in the dataset

In [117]:
df["Batch Number"]=df["Batch Number"].str[6:]

In [118]:
df["Batch Number"]=df["Batch Number"].astype(int)

In [119]:
df["Batch Number"].nunique()

1948

## Total no of unique batches for purchase order # 1075875

In [121]:
df["Purchase order"]=df["Purchase order"].str[len("Purchase Order #"):]

In [122]:
df["Purchase order"]=df["Purchase order"].astype(int)

In [123]:
df["Purchase order"]

0       1075467
1       1075467
2       1075875
3       1075875
4       1075875
         ...
5045    1069497
5046    1069481
5047    1067519
5048    1067489
5049    1067489
Name: Purchase order, Length: 5050, dtype: int32

In [124]:
df1=df[df["Purchase order"]==1075875]
df1["Batch Number"].nunique()

5

In [125]:
df1["Batch Number"].unique()

array([326778, 326775, 326774, 326190, 325578])

## Total number of unique Purchase Orders (POs) with more than 4 unique batches

In [126]:
df.head(2)

,Batch Number,Date Created,Last Modified,Purchase order,Incoterms,Shipment Method,Delivery Location,Production ready date
0,326780,02.08.2024 12:13,02.08.2024 12:13,1075467,EXW,Air,Maple Logistics Hub,08.08.2024
1,326779,02.08.2024 12:06,02.08.2024 12:06,1075467,EXW,Ocean,Stellar Fulfillment Center,01.11.2024

In [112]:
no_of_unique_batch_per_purchase=df.groupby("Purchase order")["Batch Number"].nunique()
no_of_unique_batch_per_purchase_4=no_of_unique_batch_per_purchase[no_of_unique_batch_per_purchase>4]
len(no_of_unique_batch_per_purchase_4)

24

##  Difference in days between the maximum and minimum Production Ready Date (PRD) for Purchase Order #1075875

In [127]:
df.head(2)

,Batch Number,Date Created,Last Modified,Purchase order,Incoterms,Shipment Method,Delivery Location,Production ready date
0,326780,02.08.2024 12:13,02.08.2024 12:13,1075467,EXW,Air,Maple Logistics Hub,08.08.2024
1,326779,02.08.2024 12:06,02.08.2024 12:06,1075467,EXW,Ocean,Stellar Fulfillment Center,01.11.2024

In [54]:
df["Production ready date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5050 entries, 0 to 5049
Series name: Production ready date
Non-Null Count  Dtype
--------------  -----
5050 non-null   object
dtypes: object(1)
memory usage: 39.6+ KB

In [55]:
df["Production ready date"]=df["Production ready date"].apply(pd.to_datetime)

C:\Users\chinm\AppData\Local\Temp\ipykernel_30208\450755988.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Production ready date"]=df["Production ready date"].apply(pd.to_datetime)

In [56]:
df["Production ready date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5050 entries, 0 to 5049
Series name: Production ready date
Non-Null Count  Dtype
--------------  -----
5050 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 39.6 KB

In [60]:
max_prod_date=df[df["Purchase order"]==1075875]["Production ready date"].max()
min_prod_date=df[df["Purchase order"]==1075875]["Production ready date"].min()
diff=max_prod_date-min_prod_date
print(diff)

41 days 00:00:00

## Total number of unique Purchase Orders (POs) where the difference between the maximum and minimum Production Ready Date (PRD) is more than 7 days

In [128]:
df.head(2)

,Batch Number,Date Created,Last Modified,Purchase order,Incoterms,Shipment Method,Delivery Location,Production ready date
0,326780,02.08.2024 12:13,02.08.2024 12:13,1075467,EXW,Air,Maple Logistics Hub,08.08.2024
1,326779,02.08.2024 12:06,02.08.2024 12:06,1075467,EXW,Ocean,Stellar Fulfillment Center,01.11.2024

In [163]:
## convert the production ready date to datetime format
df["Production ready date"]=df["Production ready date"].apply(pd.to_datetime)

C:\Users\chinm\AppData\Local\Temp\ipykernel_30208\450755988.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Production ready date"]=df["Production ready date"].apply(pd.to_datetime)

In [171]:
prd_max = df.groupby("Purchase order")["Production ready date"].max()
prd_min = df.groupby("Purchase order")["Production ready date"].min()
prd_diff = (prd_max - prd_min).dt.days

pos_with_prd_diff_gt_7 = prd_diff[prd_diff > 7]

total_pos = len(pos_with_prd_diff_gt_7)
print(total_pos)

119